/**
    Title: WEB 330 – Enterprise JavaScript II
    Author: Professor Krasso
    Date: 05/30/2021
    Modified By: Professor  P. Itskovich, Keith Hall 
    Description: This is the global style sheet for web-330 assignments and upcoming projects.   
*/

#container {
	padding-top: 15px; /* Use padding-top to position the toggle switch and text against the container. */
}
.container {
	margin: auto;
}
#icon-mode:hover {
	cursor: pointer;
}
#icon-text {
	padding-left: 10px;
	margin-right: 100px;
}
.pull-right {
	float: right;
}
.assign-container {       /* This is the card container */
    padding: 10px;
	margin-top: -38px;
}
#assign-results-header {
	font-size: 16px;
}
.assign-content {
    width: 88%;
    margin: 3% auto 0 300px;
}
.assign-results-text {
    text-align: center;
    font-size: 32px;
}
.app-header {
	text-align: left;
	color: #fff;
	margin-top: -18px;
}
#app-header {
	text-align: center;
}
#return-home-container {
 
margin-top: 18px;
}
.return-home {
	color: #4F3674;
	text-decoration: none;
}
.return-home:hover {
    background-color: #D6A800;
    color: #4F3674;
}
.return-home:visited {
    color: #3c275a;
}
.full-width {
	width: 100%;
}
/* Form styling. */
.form {
	 
	display: inline-grid;
    grid-template-columns: auto;
}
.form-field {
	padding: 20px;
	margin-left: 20px;
}
 
