#app-header {   /* H1 heading. */           
	text-align: center;
	color: #fff;
}
#food-list {
    font-size: 12px;
    color: #df546a;
    text-indent: 15px;
    letter-spacing: 2px;
    font-style: italic;
}

#btnSearch {
    width: 100%;
	border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
	background-color: #4F3674;
    color: #fff;
}
#btnSearch:hover {
	background-color: #D6A800;
    color: #4F3674;
}
#return-home-container {
	margin-left: 325px;
	 
}
#books {
    border-collapse: collapse;
    margin-bottom: 10px;
    font-size: 16px;
	border-color: #ddd;
}
#books th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4F3674;
    color: #fff;
     
}
#books td, #books th {
    border: 1px solid #ddd;
    padding: 4px;
    
}
#books tr:hover {
    background-color: #D6A800;
    color: #4F3674;
    cursor: pointer;
}