/**
    Title: WEB 330 – Enterprise JavaScript II
    Author: Professor Krasso
    Date: 09/15/2021
    Modified By: Professor  P. Itskovich, Keith Hall 
    Description: This is the style sheet for web-330 assignment 6.2- Future Value App.    
*/
.danger {                     
    margin-left: 210px;
    color: #df546a;        /* Interest rate example beneath interest input field. */
    font-size: 12px;
    letter-spacing: 2px;
}
/* Form Labels */
.form-label {
    display: inline-block;
    padding-right: 3.3rem;      /* Separates labels from input fields. */
}
.form-label-interest {
    display: inline-block;
    padding-right: 4.9rem;
}
.form-label-years {
    display: inline-block;
    
}
#listNumOfYears {          /* Select menu positioning */        
	margin-left: 3.6rem;
}
#return-home-container {
	margin-top: 10px; 
}
#btnCalculate   {
    width: 50%;
	border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px 0px 5px 25px;
    cursor: pointer;
    padding: 15px 32px;
	background-color: #4F3674;
    color: #fff;
}
#btnCalculate :hover {
	background-color: #D6A800;
    color: #4F3674;
}
