/**
    Title: WEB 330 – Enterprise JavaScript II
    Author: Professor Krasso
    Date: 09/15/2021
    Modified By: Professor  P. Itskovich, Keith Hall 
    Description: This is the style sheet for web-330 assignment 6.2- Future Value App.    
*/
.alert-danger {
    float: right;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
}
.form-label {
    display: inline-block;
    padding-right: 3.7rem;
}
.form-label2 {
    display: inline-block;
    padding-right: 5.2rem;
}
.form-labe3 {
    display: inline-block;
    padding-right: 8.2rem;
}
#productList {
	margin-left: 4rem;
}
#return-home-container {
	margin-top: 10px; 
}
