/**
    Title: WEB 330 – Enterprise JavaScript II
    Author: Professor Krasso
    Date: 08/22/2021
    Modified By: Professor  P. Itskovich, Keith Hall 
    Description: This is the global style sheet for web-330 assignments and upcoming projects.   
*/
.assign-content {
    width: 82%;
    margin-top: 3%;
	margin-left: 24.35%;
}
.assign-results-text {
	text-align: center;
    font-size: 32px;
}
#app-header {   /* H1 heading. */
    width: 100%;
	text-align: center;
	color: #fff;
}
.return-home {
	color: #4F3674;
	text-decoration: none;
}
.return-home:hover {
    background-color: #D6A800;
    color: #4F3674;
}
.return-home:visited {
    color: #3c275a;
}
.full-width {
	width: 100%;
}
/* Form styling. */
.form {
	display: inline-grid;
    grid-template-columns: auto;
}
.form-field {
	padding: 14px;
}